.container {
  width: 100vw;
  height: 100vh;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  font-size: 0.88rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1.8rem;
}
